{% extends 'base.html' %}

{% block content %}
    <div class="container col-md-8 main-index">
        <h3>Welcome to <strong>bookface</strong></h1>
    </div>
    <div class="container col-md-8 main-index">
        <p>
            This page is just a simple html/css + django web to showcase/test some code. <br>
            You can signup to this page in order to create and view groups and add posts to groups. 
            While writing posts you can use simple html tags to include formatting and or images or other content.
        </p>
    </div>

{% endblock content %}